* {
    margin: 1px;
    background-color: #F8F8F8;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
    font-family: 'Inter', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.navegacion {
    width: 100%;
    background-color: #3C7E3A;
    border: 1px solid #3C7E3A;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

.logo {
    width: 30px;
}

.contenedor-boton-nav {
    display: inline-block;
    background-color: #3C7E3A;
    padding: 10px;
}

.boton-nav {
    text-decoration: none;
    background-color: #3C7E3A;
    color: white;
    font-size: 12px;
}

.boton-nav:hover {
    background-color: #EC611C;
    border: 1px solid #EC611C;
    border-radius: 6px;
    padding: 8px;
}

.jumbotron {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenedor-jumbotron {
    border-top: 4px solid #EC611C;
    border-right: 4px solid #EC611C;
    border-top-right-radius: 6px;
    padding: 10px;
    font-size: 10px;
}

.titulo-jumbo {
    font-size: 16px;
    padding: 10px;
}

.banner-img {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    margin: 10px 0px 10px 0px;
}

label {
    font-weight: bold;
    font-size: 10px;
}

.input-email {
    border: 2.5px solid #3C7E3A;
    border-radius: 6px;
    padding: 5px;
    margin: 6px 0px 12px 0px;
}

.boton-email {
    background-color: #3C7E3A;
    color: white;
    border: 2.5px solid #3C7E3A;
    border-radius: 6px;
}

.boton-email:hover {
    background-color: #EC611C;
    border: 2.5px solid #EC611C;
}

.blog {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.contenedor-blog {
    border-right: 4px solid #3C7E3A;
    border-left: 4px solid #EC611C;
}

.titulo-blog {
    padding-bottom: 10px;
    font-size: 16px;
}

.propiedades {
    width: 245px;
    background-color: #3C7E3A;
    color: white;
    display: inline-block;
    list-style-type: none;
    border: 2.5px solid #3C7E3A;
    border-radius: 6px;
    padding: 10px;
}

.propiedades-li {
    background-color: #3C7E3A;
}

.propiedades-img {
    height: 110px;
}

.adicionales {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.contenedor-adicionales {
    border-bottom: 4px solid #EC611C;
    border-left: 4px solid #EC611C;
    border-bottom-left-radius: 6px;
    padding: 10px;
}

.titulo-adicionales {
    font-size: 16px;
    padding-bottom: 20px;
}

.adicionales-lista {
    padding: 5px 0px 5px 0px;
    background-color: #3C7E3A;
    color: white;
    border: 2.5px solid #3C7E3A;
    border-radius: 6px;
    list-style-type: none;
    font-size: 12px;
}

.adicionales-li {
    background-color: #3C7E3A;
}

i {
    background-color: #3C7E3A;
    font-size: 25px;
}

.contenedor-footer {
    background-color: #3C7E3A;
    color: white;
    text-align: center;
    border-radius: 6px;
    font-size: 12px;
}

h5 {
    background-color: #3C7E3A;
    border: 2.5px solid #3C7E3A;
    border-radius: 6px;
}

.telefonos {
    background-color: #3C7E3A;
    border: 2.5px solid #3C7E3A;
    border-radius: 6px;
    padding: 5px 0px 5px 0px;
}

.dom {
    background-color: #3C7E3A;
    padding-bottom: 5px;
}

.redes-soc {
    background-color: #3C7E3A;
    border: 2.5px solid #3C7E3A;
    border-radius: 6px;
    padding-bottom: 5px;
}